aiohttp==3.6.2
aniso8601==8.0.0
asn1crypto==1.2.0
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.7
cachetools==3.1.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.8
ecdsa==0.13
Flask==1.1.1
Flask-Cors==3.0.8
flask-restplus==0.13.0
Flask-Session==0.3.1
Flask-SocketIO==4.2.1
future==0.18.2
gevent==1.4.0
google-api-core==1.14.3
google-auth==1.7.0
google-cloud-core==1.0.3
google-cloud-datastore==1.10.0
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.23.0
idna==2.8
importlib-metadata==0.23
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
multidict==4.7.1
protobuf==3.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pycryptodome==3.9.4
pylint==2.4.4
pyOpenSSL==19.0.0
pyrsistent==0.15.6
PySocks==1.7.1
python-dateutil==2.8.1
python-engineio==3.9.3
python-jose==2.0.2
python-socketio==4.3.1
pytz==2019.3
redis==3.3.11
requests==2.22.0
rsa==4.0
six==1.13.0
typed-ast==1.4.0
urllib3==1.25.7
websockets==8.1
Werkzeug==0.16.0
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
yarl==1.4.2
zipp==0.6.0
maya==0.6.0